<component name="ArtifactManager">
  <artifact type="war" name="SpringShiroHibernateSearch:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringShiroHibernateSearch.war">
      <element id="artifact" artifact-name="SpringShiroHibernateSearch:war exploded" />
    </root>
  </artifact>
</component>